body
{
background-color: pink;
}

.try
{
color:blue;
}

/* Header stylization */

nav ul
{
    list-style: none;
}

nav li
{
    display: inline-block;
}

nav a
{
    padding: .5 em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Cairo', sans-serif;
}

nav a:hover, nav a:focus
{
    color: blue;
}

