body
{
background-color: lightpink;
}

main
{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 100px;

}

.try
{
color:blue;
}

/* Header stylization */

header
{
    color: lightslategray;
}

nav ul
{
    list-style: none;
}

nav li
{
    display: inline-block;
}

nav a
{
    padding: .5 em; /* not sure about this, change it so that the spacing is just horizontal and not vertical too */
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Cairo', sans-serif;
}

nav a:hover, nav a:focus
{
    color: blue;
}

